<div class="hero min-h-screen bg-cover" style="background-image: url(<%= asset_path('bg_image.jpg') %>);">
  <div class="hero-content flex-col border rounded bg-black mt-14 opacity-90">
    <div class="text-center mt-6">
      <h1 class="text-xl md:text-2xl font-semibold py-3"><%= t '.title' %></h1>
    </div>
    <div class="card w-full md:w-96 shadow-2xl">
      <div class="card-body">
        <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="form-controll my-2 mx-6">
            <%= f.label :email, class: "text-lg pt-4 font-bold"%>
            <%= @user.email %>
          </div>
          <div class="form-control my-2 mx-6">
            <%= f.label :password, class: "text-lg pt-4 font-bold" %>
            <%= f.password_field :password, class: "input input-bordered text-gray-800 rounded text-gray-800 bg-gray-300 mb-3 mt-1" %>
          </div>
          <div class="form-control my-2 mx-6">
            <%= f.label :password_confirmation, class: "text-lg pt-2 font-bold" %>
            <%= f.password_field :password_confirmation, class: "input input-bordered rounded text-gray-800 bg-gray-300 mb-2 mt-1" %>
          </div>
          <div class="form-control py-3 mx-6 my-6">
            <%= f.submit (t '.submit'), class: "btn btn-primary rounded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>