<div class="hero min-h-screen bg-cover" style="background-image: url(<%= asset_path('bg_image.jpg') %>);">
  <div class="hero-content flex-col border rounded bg-black mt-14 opacity-90">
    <div class="text-center mt-6">
      <h1 class="text-xl md:text-2xl font-semibold py-3"><%= t '.title' %></h1>
    </div>
    <div class="card w-full md:w-96 shadow-2xl">
      <div class="card-body">
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-control">
          <%= f.label :email, t(User.human_attribute_name(:email)), class: "text-lg pt-4 font-bold" %>
          <%= f.email_field :email, class: "input input-bordered text-gray-800 rounded bg-gray-300 mb-3 mt-1" %>
        </div>
        <p class="mt-3">リセットページのリンクをメール送信します</p>
        <div class="form-control my-4 pt-4">
          <%= f.submit (t '.submit'), class: "btn btn-primary borderd" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>