<div class="hero min-h-screen flex flex-col" style="background-image: url(<%= asset_path('bg_image.jpg') %>);">
  <div class="hero-content text-center my-12"></div>
    <div class="max-w-7xl text-center">
      <h1 class="animate-text-shadow-pop-br text-2xl md:text-4xl font-semibold"><%= t '.title' %></h1>

      <div class="justify-center flex flex-wrap my-6">
          <% if @angry_cards.present? %>
            <%= render @angry_cards %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>  
      </div>

    </div>
</div>
<div class="flex justify-start md:justify-center btn-group w-screen m-2"><%= paginate @angry_cards %></div>