<% set_meta_tags og: {image: @angry_card.generated_card.url}, twitter: {image: @angry_card.generated_card.url} %>
<div class="hero min-h-screen flex flex-col" style="background-image: url(<%= asset_path('bg_colorful.jpg') %>);">
  <div class="hero-content"></div>
  <div class="max-w-md flex justify-center mt-32">
    <%= image_tag @angry_card.generated_card.url, size: '300x200' %>
  </div>
  
  <% if current_user && current_user.own?(@angry_card) %>
    <div class="flex justify-center mt-6 mb-3">
      <%= link_to t('defaults.twitter_share'), "https://twitter.com/share?url=https://www.angrycard-generator.com/angry_cards/#{@angry_card.id}/&text=【あなたのアングリーカードが召喚されました！】&hashtags=アングリーカードジェネレーター", title: 'Twitter', target: '_blank',class:'btn bg-blue-400 text-white border-none rounded' %>
    </div>
  <% end %>

  <div class="flex justify-center my-6">
    <button class="btn rounded mx-3"><%= link_to '怒りの墓場', angry_cards_path(@angry_card) %></button>
    <% if current_user && current_user.own?(@angry_card) %>
      <button class="btn rounded px-9 mx-3"><%= link_to '削除', angry_card_path(@angry_card), data: { turbo_method: :delete, turbo_confirm: "削除しますか?" } %></button>
    <% end %>
  </div>
  
</div>
 
