<!DOCTYPE html>
<html data-theme="black">
  <head>
    <title>アングリーカードジェネレーター</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="アングリーカードジェネレーター">
    <meta name="twitter:description" content="俺のターン！ドロー！ストレスをアングリーカードとして召喚！日常のちょっとしたストレスを、カードゲーム風に遊び心を持って昇華させるサービスです。">
    <meta name="twitter:image" content="<%= @angry_card_url %>">

    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true  %>
    
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
   
  </body>
</html>
